<h1> Service Compteur </h1>
<pre style="color: blue;"> 
Compteur Racine : <button type="button" (click)="incrementeCompteur()"> Add </button> {{compteur()}} <button type="button" (click)="decrementeCompteur()"> Reduce </button>  <button type="button" (click)="reinitialiseCompteur()"> Reset </button>
</pre>
<app-compoAlpha></app-compoAlpha>
<app-compoA></app-compoA>
<app-compoB></app-compoB>
<app-compoB></app-compoB>
<app-compoAlphaPrime></app-compoAlphaPrime>
<app-compoBeta></app-compoBeta>
<app-compoBeta></app-compoBeta>